.nav-bar{
    background-color: darkblue;
    padding: 2vh;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li{
    color: white;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}

.nav-bar a{
    text-decoration: none;
}
